.loginContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.loginForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px;
}

.signUp {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transform: translateY(-20px);
}

.logo {
    width: 50%;
    height: 10%;
    object-fit: contain;
}

.top {
    position: absolute;
    top: 50px;
}

.text {
    width: 85%;
    text-align: center;
    margin: 10px;
}

.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.input {
    width: 80%;
    height: 50px;
    padding: 13px 15px 11px 15px;
    background-color: #ffffff44;
    border-radius: 5px;
    color: white;
}

.authButton {
    width: 80%;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 200ms;
}

.activeButton {
    background-color: #ffffff08;
    border: 1px #ffffff44 solid;

}

.disabledButton {
    background-color: #ffffff22;
    border: 1px #ffffff22 solid;
}

.or {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.line {
    width: 30%;
    height: 1px;
    background-color: #ffffff44;
}

.providers {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.provider {
    width: 45%;
    aspect-ratio: auto;
    object-fit: contain;
}

.footer {
    position: absolute;
    padding-bottom: 20px;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #ffffff11;
    justify-content: center;
    align-items: center;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top-width: 1px;
    border-top-color: #ffffff44;
    transition: bottom 1s;
}

.forgotLock {
    width: 60%;
    height: 22%;
    object-fit: contain;
    margin-bottom: 10%;
}

.errorContainer {
    width: 80%;
    background-color: #ff0000bb;
    border-radius: 5px;
    border: 1px #ffffff44 solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    margin: -7px 0;
    overflow: hidden;
}

.errorContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.errorCrossHolder {
    width: 25px;
    height: 25px;
    border-radius: 13px;
    background-color: #ffffff44;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorIcon {
    height: 20px;
    width: 20px;
    margin-bottom: 2px;
    object-fit: contain;
}

.errorCross {
    height: 12px;
    width: 12px;
    object-fit: contain;
}

.errorBorder {
    border: 1px solid red;
}

.verifyButton {
    background-color: #ffffff44;
    border: 1px #ffffff44 solid;
    margin-top: 5px;
}

.initializeInputHolder {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    gap: 5px;
}

.pickImage {
    height: 25%;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.pickedImage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-width: 4px;
    border-color: #6464f6;

}

.defaultImage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #aaa;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

