.screen {
    width: 100%;
    height: 100%;
    background-color: white;
}

.scrollView {
    flex-grow: 1;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 75px;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.infoContainer {
    width: 100%;
    background-color: white;
    position: relative;
    border-radius: 20px;
    transform: translateY(-22px);
}

.join {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffcc;
    border-radius: 5px;
    padding: 5px 8px;
    transform: translateY(20px);
    z-index: 10;
}

.joined {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6464f6;
    border-radius: 5px;
    padding: 5px 8px;
    transform: translateY(20px);
    z-index: 10;
}

.socialInfo {
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-color: #6464f644;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px 0;
}

.socialSection {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-left-color: #6464f644;
    border-left-width: 1px;
}

.socialIcon {
    width: 50px;
    height: 50px;
}

.description {
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-color: #6464f644;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 15px;
    gap: 10px;
}

.posts {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 15px;
}

.post {
    width: 100%;
    border-bottom-color: #6464f644;
    border-bottom-width: 1px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 25px 15px;
    gap: 5px;
}

.postText {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.replies {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: #6464f6;
}

.replyIcon {
    height: 10px;
    width: 10px;
}

.backArrowHolder {
    width: 40px;
    height: 40px;
    padding-right: 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 25px;
    z-index: 100;
}

.backArrow {
    width: 25px;
    height: 25px;
}


.manageGradient {
    width: 100%;
    height: auto;
    border-bottom-color: #6464f644;
    border-bottom-width: 1px;
    position: relative;
}

.manage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 15px;
    z-index: 10;
}

.manageLine {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.manageIcon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    transform: translateY(-2px);
}