.homeContainer {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    gap: 10px;
}

.upcoming {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100px;
    position: relative;
    border-radius: 10px;
    gap: 5px;
}

.mapContainer {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    position: relative;
}

.map {
    width: 100%;
    height: 100%;
    border-radius: 10px;

    position: absolute;
}

.mapOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffcc;
}

.handle {
    width: 60px;
    height: 3px;
    background-color: #BBBBBB;
    border-radius: 5px;
}

.tongueShadow {
    box-shadow: 0 0 5px #BBBBBB;
}

.tongueContainer {
    width: 100%;
    height: 100%;
    background-color: #6464f6;
}