<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADcJU24FtxxMmbqPRC-3mUASwQpVZUZgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>906333431837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pepper.pepper</string>
	<key>PROJECT_ID</key>
	<string>pepper-7dc44</string>
	<key>STORAGE_BUCKET</key>
	<string>pepper-7dc44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906333431837:ios:e79c2e4ab4b2b316a5fef4</string>
</dict>
</plist>